<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>

<nav>
  <ul class="navbar">
    <li><a href="/">login</a></li>
      <a href="/register" class="register-btn">Register</a>
     <img src="path/to/logo.png" alt="Logo" style="height:30px; vertical-align:middle;">
    <li><a href="/contact"></a></li>
  </ul>
</nav>

<style>
.navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  background: #434242;
}
.navbar li {
  margin-right: 20px;
}
.navbar li:last-child {
  margin-right: 0;
}
.navbar a {
  color: #a76bfc;
  text-decoration: none;
  padding: 14px 20px;
  display: block;
}
.navbar a:hover {

   background: #444;
}
</style> 