<!-- This is our horizontal navbar -->
<ul class="menu">
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</nav>

















  <!-- End navbar -->
  <br><br><br>